
<div style="width: 100%; overflow-x: auto;">
    <div style="width:100%;"> 
      <ag-grid-angular 
      class="ag-theme-quartz" 
      style="height: 400px; width: 100%;" 
      [gridOptions]="gridOptions"
      [rowData]="imageList" 
      [columnDefs]="columnDefs" 
      [defaultColDef]="defaultColDef">
    </ag-grid-angular>
    </div>
  </div>
  
  <!-- <div class="pagination">
    <button (click)="onPageChange(page - 1)" [disabled]="page <= 1">Previous</button>
    <button>{{page}}</button>
    <button (click)="onPageChange(page + 1)">Next</button>
  </div> -->
  